<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>background</key>
		<string>connectdots-level-background.png</string>
		<key>connect</key>
		<string>connect-level-1</string>
		<key>connect-fuzzy</key>
		<string>connect-level-1-fuzzy</string>
		<key>pass-image</key>
		<string>connectdots-level-1-pass.png</string>
	</dict>
	<dict>
		<key>background</key>
		<string>connectdots-level-background.png</string>
		<key>connect</key>
		<string>connect-level-2</string>
		<key>connect-fuzzy</key>
		<string>connect-level-2-fuzzy</string>
		<key>pass-image</key>
		<string>connectdots-level-2-pass.png</string>
	</dict>
	<dict>
		<key>background</key>
		<string>connectdots-level-background.png</string>
		<key>connect</key>
		<string>connect-level-3</string>
		<key>connect-fuzzy</key>
		<string>connect-level-3-fuzzy</string>
		<key>pass-image</key>
		<string>connectdots-level-3-pass.png</string>
	</dict>
	<dict>
		<key>background</key>
		<string>connectdots-level-background.png</string>
		<key>connect</key>
		<string>connect-level-4</string>
		<key>connect-fuzzy</key>
		<string>connect-level-4-fuzzy</string>
		<key>pass-image</key>
		<string>connectdots-level-4-pass.png</string>
	</dict>
</array>
</plist>
