<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>618</integer>
		<key>y</key>
		<integer>678</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>527</integer>
		<key>y</key>
		<integer>840</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>315</integer>
		<key>y</key>
		<integer>1054</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>133</integer>
		<key>y</key>
		<integer>842</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>104</integer>
		<key>y</key>
		<integer>577</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>119</integer>
		<key>y</key>
		<integer>363</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>315</integer>
		<key>y</key>
		<integer>265</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>119</integer>
		<key>y</key>
		<integer>175</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>312</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>605</integer>
		<key>y</key>
		<integer>87</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>527</integer>
		<key>y</key>
		<integer>337</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>677</integer>
		<key>y</key>
		<integer>531</integer>
	</dict>
</array>
</plist>
