<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
	<key>y</key>
		<integer>10</integer>
	<key>x</key>
		<integer>118</integer>
	</dict>
	<dict>
	<key>y</key>
		<integer>20</integer>
	<key>x</key>
		<integer>743</integer>
	</dict>
	<dict>
	<key>y</key>
		<integer>458</integer>
	<key>x</key>
		<integer>433</integer>
	</dict>
	<dict>
	<key>y</key>
		<integer>768</integer>
	<key>x</key>
		<integer>323</integer>
	</dict>
	<dict>
	<key>y</key>
		<integer>768</integer>
	<key>x</key>
		<integer>568</integer>
	</dict>
	<dict>
	<key>y</key>
		<integer>1103</integer>
	<key>x</key>
		<integer>468</integer>
	</dict>
</array>
</plist>
